
 form{
  background-color: rgb(186, 201, 228);
  border-radius: 6px;
  padding: 1vw;
  padding-top: 4vw;
 }
// .user-data{
//   text-align: 
// }
.name{
  justify-content: space-around;
}

.imgnewuser{
background-image: url(gig1.gif);
background-color: #cccccc; 
height: 400px; 
width: 500px !important;
background-position: center;
background-repeat: no-repeat; 
background-size: cover;
border-radius: 6px;
}
.col-lg-4 div{
  margin: 1vw;
}
.col-lg-4 input, textarea, select{
  border:none;
  background-color: #e9e8e8;
  border-radius: 8px;
  padding: 6px;
}

input{
   display: block;
   width: 160% !important;
}
select{
  display: block;
}
textarea{
  display: block;
  width: 145%;
}
#usertype{
  width: 26vw;
  height: 2vw;
  background-color: rgb(236, 235, 235);
  // border-color: 1px solid black;
}

.btn {
  color: white;
  background-color: blue;
  font-size: larger;
  padding: 5px;
  margin: 10px auto;
  margin-left: 1vw;
}