h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainContainer{
    display: flex;
    padding-top: 4vw;
    padding-left: 7vw;

}

.select1{
    margin-left: 50px;
}
.MainMenuOption{
    display: flex;
    padding-top: 8vw;
    padding-left: 0.5vw;

}