h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainContainer{

    display: flex;
    padding-top: 4vw;
    padding-left: 7vw;

}

.select1{
    margin-left: 50px;
}
.MainMenuOption{
    display: flex;
    padding-top: 8vw;
    padding-left: 0.5vw;

}
.mainContainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url('../../assets/img.jpg');
    background-size: cover; /* Adjust to your preference */
    background-repeat: no-repeat;
    // height: 100vh;
    min-height: 118vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  h4 {
    position: absolute;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    top: 50px;
    left: 250px;
    color: white;
    opacity: 0.6;
    font-weight: bold;
    animation: bounce 1.6s infinite;
  }
  @keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.selectmenu{
    padding: 20pz;
    width: 150pxpx;
    border:none;

margin-top: 60px;
}
.homeContainer{
    
}




  