
.fixed-width {
    width: 200px; 
    padding: 30px;
    /* Set your desired fixed width for the first container */
}

/* Styles for other components could be defined here if needed */

.second-container {
    margin-top: 40px; /* Set your desired margin-top value */
    width: 100%;
}
Banner{
    margin-bottom: 30px;
}
